/* Geral */

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Topo */

.topo {
  background-image: url("img/banner-topo.jpg");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  width: calc(100vw - 180px);
  height: auto;
  color: #3c184e;
  padding: 120px 80px;
}

.topo-container {
  max-width: 1024px;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0 8px 32px #1f26875e;
  border-radius: 10px;
  background-color: #ffffffc4;
  padding: 40px;
  margin: 70px auto 0;
}

.topo-container p {
  font-size: 60px;
  margin: 0 0 40px;
  font-weight: 800;
}

.topo-container div {
  width: 200px;
  padding: 10px 25px;
  margin: 0 auto;
  background-color: #3c184e;
  border-radius: 10px;
}

.topo-container a {
  color: #ffff;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}

.topo-container img {
  width: 20px;
  margin-left: 5px;
}

.logotipo {
  max-width: 250px;
}

.logotipo img {
  width: 30px;
  margin-right: 5px;
}

.logotipo span {
  font-size: 35px;
  margin: 0 0 5px;
}

.logotipo p {
  font-size: 14px;
  text-align: center;
}

/* Serviços */

.servicos {
  width: calc(100vw - 180px);
  padding: 120px 80px;
  color: #3c184e;
}

.servicos h3 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 45px;
}

.servicos div {
  max-width: 800px;
  text-align: justify;
  margin: 0 auto 50px;
}

.servicos li {
  margin-bottom: 20px;
  list-style-type: square;
}

.servicos li span {
  font-weight: 800;
  font-style: italic;
}

.images {
  max-width: 800px;
  margin: 0 auto;
}

.images img {
  border-radius: 5px;
  box-shadow: 3px 6px 10px 6px #0000005c;
}

/* Faixas */

.faixa {
  background-image: url("img/banner-topo.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
}

.opacidade {
  padding: 120px 80px;
  color: #ffff;
  text-align: center;
  background-color: rgba(60, 24, 78, 0.5);
}

.faixa-container {
  margin: 0 auto;
  max-width: 800px;
  font-size: 40px;
}

.faixa-container img {
  width: 50px;
  margin: 50px 20px 0;
}

.faixa-container span {
  font-style: italic;
  font-weight: 700;
}

/* Marcas */

.marcas {
  padding: 120px 80px;
  text-align: center;
  font-size: 36px;
  color: #3c184e;
}

.marcas-container {
  margin: 45px auto 0;
  padding: 0 100px;
  max-width: 800px;
}

.fileira-1,
.fileira-2,
.fileira-3 {
  margin: 15px;
}

.fileira-1 img,
.fileira-2 img,
.fileira-3 img {
  width: 148px;
  margin: 0 15px;
}

/* Localidade */

.local {
  padding: 120px 80px;
  text-align: center;
  color: #3c184e;
}

.local h3 {
  font-size: 36px;
  margin: 0 0 45px;
}

.local p {
  font-size: 20px;
  margin: 0 0 45px;
}

.local iframe {
  width: 800px;
  height: 450px;
  border-radius: 0 20px 0 20px;
  box-shadow: 3px 8px 5px #0000005c;
}

footer {
  background-color: #3c184e;
  padding: 10px 0;
}

footer p {
  font-size: 12px;
  text-align: center;
  color: #ffff;
}
